*.vsix
*.bin
*.pth
test/test_cases/react/
test/test_cases/tributary/
node_modules/
**/__pycache__/
out/
/models/**
/mock/
!/models/MODEL.md
/backend/trace/tree-sitter/build/
server.log*
*.log
.DS_Store
.venv/
venv/
__pycache__/
*.pyc